.aboutContainer {
    display: flex;
    margin-inline: 5%;
    margin-top: 2rem;
}

.aboutContent {
    display: flex;
    flex-direction: row;
    flex: start;
    gap: 20px;
    padding: 20px;
}

.profileImage {
  width: 300px; 
  height: auto; 
  border-radius: 10%; 
  object-fit: cover; 
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .aboutContent {
    flex-direction: column; 
    text-align: center; 
  }

  .profileImage {
    max-width: 100%;
    height: auto; 
  }
}