.aboutContainer {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px; 
  padding: 20px;
  flex-wrap: wrap; 
  box-sizing: border-box;
}

aboutTextContainer {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.profileImage {
  width: 300px; 
  height: auto; 
  border-radius: 10%; 
  object-fit: cover; 
  margin: 0;
}

.aboutTitle{
  display: inline-block;
}

.aboutText {
  display: flex;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .aboutContainer {
    flex-direction: column; 
    text-align: center; 
  }

  .profileImage {
    margin-right: 0; 
    margin-bottom: 20px; 
  }
}