.frontendProfileContainer {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
}