/* 
  PROJEKTGRID - SYMMETRIHANTERING
  -------------------------------------------------------------
  - Just nu (9 projekt): Använd 'repeat(3, 1fr)' -> Ger 3 + 3 + 3 (Perfekt)
  - Vid 10 projekt: Ändra till 'repeat(5, 1fr)'  -> Ger 5 + 5
  - Vid 12 projekt: Ändra till 'repeat(4, 1fr)'  -> Ger 4 + 4 + 4
  - kolla annnars på autfill med minmax
*/


.projectLayout {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr)); */
  grid-template-columns: repeat(3, 1fr); 
  gap: 2rem;
  padding: 2rem;
}


/* MEDIA QUERIES */
@media (max-width: 930px) {
    
    .projectLayout {                
    grid-template-columns: repeat(2, 1fr); 
    }
    .projectLayout {
    article:first-child {
    grid-column: span 2;
    }
  }
}

@media (max-width: 600px) {
  .projectLayout {
    grid-template-columns: 1fr;
  }
}