@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Inter:wght@400;500;600&display=swap');

:root {
  /* Färger */
  --color-bg: #0b0d10;
  --nav-outer-bg: rgba(255, 255, 255, 0.05);
  --color-text: #ffffff;
  --color-text-soft: #d0d0d0;

  /* Neon */
  --neon-turquoise: #2affff;
  --neon-purple: #9b4dff;
  --neon-pink: #ff4dd4;
  --neon-orange: #ff9f3f;
  --neon-gold: #ffe9a3;

  /* Typsnitt */
  --font-stack: "Inter", "Segoe UI", sans-serif;
  --font-aclonica: "Aclonica", sans-serif;

  /* Gradient */
  --neon-gradient-border: linear-gradient(
    135deg,
    var(--neon-turquoise),
    var(--neon-purple),
    var(--neon-pink),
    var(--neon-orange)
  );

   /* Layout */
  --max-width: 1500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
    background: #121213; 
    color: var(--color-text); 
    font-family: var(--font-stack); 
    min-height: 100vh; 
}

header {
  max-width: var(--max-width);
  margin: 0 auto;
} 

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-aclonica);
}

h1 {
  margin: 0 2rem 2rem 2rem;
  text-align: center;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  text-align: center; 
}

a {
  color: var(--color-text);
  text-decoration: none;
}

ul {
  list-style: none;
}

.pageContainer { 
    max-width: var(--max-width); 
    margin: 0 auto; background-color: 
    var(--color-bg); min-height: 100vh; 
    padding-top: 2rem;
}
